.App {
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  border:1px solid orange;
  margin: 10px 70px 15px 70px;;
  background-color: beige;
}

.todo-item:has(:checked) p {
  color: black;
  text-decoration: line-through;
}

.todo-item button {
  background-color: #ba3800;
  padding: 7px 10px ;
}

.todo-list {
  margin: 10px 50px 15px 50px;
  border:3px solid black;  
}

.todo-list h1{
  font-family: serif;
}
.todo-list button {
  background-color: #2ae458;
  padding: 7px 10px ;
  margin-top: 8px;
  margin-bottom: 8px;
}